@import url('https://fonts.googleapis.com/css2?family=Song+Myung&family=Yeon+Sung&display=swap');
body {
    margin: 0;
    padding: 0;
}

/* ---------------------------------- Variables */

:root {
    --Dark-purple: #6b0086;
    --Light-purple: #c00cf0;
    --Green: #01f00f;
    --Light-green: #00F0A0;
    --Dark-orange: #a32b10;
    --Light-orange: #f0350c;
    --Dark-grey: #212529;
    --Transparant-grey: #495057ed;
    --Solid-grey: #495057;
    --Teal: #7FD2D2;
    --Light-blue: #6c2de6;
}

/* ---------------------------------- /Variables */

/* ---------------------------------- Fonts and colors */

body {
    font-family: "Song Myung", sans-serif;
    background: url("../images/background-1.jpg") center center no-repeat;
}

h1, h2, h3, h4, h5, h6, .navbar, .job-navigation-content div {
    font-family: "Yeon Sung", sans-serif;
}

a, button {
    color: var(--Teal);
}

a:hover, .btn-secondary:hover {
    color: var(--Light-green);
}

.a-white-contrast {
    color: var(--Light-purple);
}

.a-white-contrast:hover {
    color: var(--Light-blue)
}

.hr {
    border-color: var(--Dark-grey);
}

.outer-container {
    background-color: rgb(255, 250, 250, 0.8);
}

.job-toggler {
    background-color: var(--Transparant-grey);
}

.job-toggler-inner-circle:hover, .job-toggler-inner-circle:active {
    border-color: var(--Teal);
}

.job-navigation-content {
    background-color: var(--Solid-grey);
}

.work-header {
    font-weight: bold;
    letter-spacing: 1px;
}

.job-content .work-header{
    /* color: var(--Teal); */
}

nav {
    background-color: var(--Transparant-grey);
}

.nav-top ul {
    background-color: var(--Transparant-grey);
}

.btn-secondary{
    background-color: var(--Transparant-grey);
    color: var(--Teal);
}

/* ---------------------------------- /Fonts and colors */

/* ---------------------------------- Navigation */

.navbar {
    padding: 0;
    height: 40px;
}

nav ul li {
    list-style-type: none;
}

.navbar-brand {
    padding-left: 10px;
}

nav {
    width: 100%;
}

.footer-left {
    position: fixed;
    left: 10px;
    bottom: 10px;
}

.footer-right {
    position: fixed;
    right: 10px;
    bottom: 10px;
    justify-content: end;
}

.fixed-top {
    left: auto;
    right: auto;
}

.nav-icon {
    width: 30px;
    margin: 4px;
    padding: 0px;
    border: 2px solid var(--Teal);
    background-color: var(--Teal);
    border-radius: 100%;
}

/* ---------------------------------- /Navigation */

/* ---------------------------------- /Home page content */

.home-welcome {
    text-align: center;
}

.testimonials {
    margin-top: 40px;
    text-align: center;
}

.testimonial-img {
    width: 100px;
    height: 100px;
}

/* ---------------------------------- /Home page content */

/* ---------------------------------- /Work History page content */

.work-history-content .row {
    height: calc(100vh - 110px);
}

.work-history-content{
    overflow-y: scroll;
}
.job-toggler {
    width: 40px;
    height: 40px;
    padding-top: 5px;
}

.job-toggler-inner-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 0);
    margin-left: 5px;
}

.job-navigation-button {
    position: fixed;
    right: 5px;
    bottom: 45px;
    z-index: 5;
}

.job-navigation-content {
    position: fixed;
    right: 10px;
    bottom: 90px;
    border: 2px solid var(--Transparant-grey);
    border-radius: 5%;
    z-index: 5;
    padding: 5px;
    line-height: normal;
}

.work-date-divider {
    height: 8px;
}

.work-header {
    margin-bottom: 0px;
    line-height: 18px;
    font-size: 17px;
}

.work-date {
    font-style: italic;
    line-height: 16px;
    font-size: 14px;
}

.job-navigation-content div:nth-child(3) {
    margin-bottom: 10px;
}

/* ---------------------------------- /Work History page content */

/* ---------------------------------- About page content */

.resume-picture {
    max-width: 200px;
    max-height: 200px;
}

.about-main, .about-aside {
    text-align: center;
}

.info-left, .info-right {
    display: inline-block;
    text-align: left;
}

.info-left {
    margin-left: 10px;
}

.progress {
    height: 20px;
    margin-bottom: 5px;
}

.skill-header {
    margin-bottom: 2px;
}

.about-main p {
    margin-bottom: 40px;
}

.skills{
    margin: 20px 0px;
}
/* ---------------------------------- /About page content */

/* ---------------------------------- Contact page content */

a.contact-email {
    vertical-align: middle;
    justify-content: right;
}

/* ---------------------------------- /Contact page content */

/* ---------------------------------- /General helpers */

article {
    margin-top: 40px;
    padding-top: 10px;
}

.container-fluid {
    height: calc(100vh - 90px);
    padding-left: 10px;
}

.outer-container {
    width: 100vw;
    margin: 0 auto;
}

.blockquote p {
    font-size: 1rem;
    font-style: italic;
}

nav {
    font-weight: bold;
    letter-spacing: 1.2px;
}

.hr {
    margin: 0 auto;
    border-width: 2px;
    border-radius: 50%;
}

.hr-short {
    max-width: 30%;
}

.hr-wide {
    max-width: 90%;
}

.a-white-contrast {
    font-weight: bold;
    letter-spacing: 1px;
}

a:hover {
    text-decoration: none;
}

/* ---------------------------------- /General helpers */

/* ---------------------------------- Media Queries */

@media(min-width: 567px) {
    article {
        padding-top: 30px;
    }
    .container-fluid {
        height: calc(100vh - 110px);
    }
    .outer-container {
        width: 80vw;
    }
    .navbar {
        width: 80vw;
        margin: 0 auto;
    }
    .nav-top ul {
        background-color: initial;
    }
    .footer-left {
        position: relative;
        left: auto;
        bottom: auto;
        padding-left: 10px;
    }
    .footer-right {
        position: relative;
        right: auto;
        bottom: auto;
        padding-right: 10px;
    }
    .hr-wide {
        max-width: 70%;
    }
    .home-welcome {
        max-width: 90%;
    }
    .job-content {
        margin-left: 31%;
        max-width: 69%;
    }
    .job-navigation-content {
        right: initial;
        bottom: initial;
        max-width: 180px;
    }
    .about-main, .about-aside {
        text-align: left;
    }
    .info-left {
        margin-left: 0px;
    }
    .info-right, .info-left {
        font-size: 0.9rem;
    }
    .resume-picture{
        margin-left: 5px;
        margin-bottom: 10px;
    }
}

@media(min-width: 992px) {
    .outer-container {
        width: 70vw;
    }
    .navbar {
        width: 70vw;
    }
    .home-welcome {
        max-width: 80%;
    }
}

/* ---------------------------------- /Media Queries */